<div class="big-container">

    <div class="picture-container message-user ">
        <ul>
            <li><img src="{{fullConversationArray.[0].pictureUrl}}" class="trigger-0" height="440px"></li>
            <li> <a href="conversations/{{fullConversationArray.[0]._id}}"><h3> Open conversation</h3></a> </li>

        </ul>
        <ul>
            <li><img src="{{fullConversationArray.[1].pictureUrl}}" class="trigger-1" height="440px"></li>
           <li> <a href="conversations/{{fullConversationArray.[1]._id}}"><h3> Open conversation</h3></a> </li>
        </ul>
        <ul>
            <li><img src="{{fullConversationArray.[2].pictureUrl}}" class="trigger-1" height="440px"></li>
           <li> <a href="conversations/{{fullConversationArray.[2]._id}}"><h3> Open conversation</h3></a> </li>
        </ul>

    </div>

</div>

