
<a  class="go-back" href="/conversations"> <h3>  <i class="fas fa-angle-left"></i> Go back to conversations</h3></a>


<div class="big-container" >




<div class="picture-container <!--own-wedding--> ">
<ul>
    
    <li><img src="{{oneConversationArray.pictureUrl}}"  class="trigger-1"   width="200px" alt=""></li>
    
</ul>
</div>


<div class="conversation-container">
    <div class="">
        <p>{{fullConversationArray.[0].owners.[0].avatar}}</p>
        {{#each oneConversationArray.messages}}
        <p class="{{this.class}}"> {{this.text}}  </p>
        {{/each}}
         <form action="/add-message/{{oneConversationArray._id}}/process-message"  method="POST" class="" >
                    <label>
                        Add a message : 
                    <input type="text" name="text" placeholder="Add a new message">
                    </label>
                    <button>Send</button>
                </form> 
    </div>
</div>
</div>

