<section id="logged-home-page">

    <h2 class="fade-in">Hello {{currentUser.firstName}}!</h2>

    <div class="weddings">
        <div class="own-wedding fade-in-left">
            <h2>Your Wedding </h2>
            <ul>
                {{#each weddingArray}}
                <li>
                    <a href="/wedding/{{this._id}}"><img src="{{this.pictureUrl}}" height="340px"></a>
                    <a href="/wedding/{{this._id}}"><h3>{{this.name}}</h3></a>
                </li>
                {{else}}
            </ul>
                <p>You don't have any wedding yet.</p>
                <p class="add-wedding"><a href="/wedding/add">Add Your First Wedding <br><i class="fas fa-plus"></i></a></p>
            {{/each}}
        </div>

        <div class="invited-wedding fade-in-right">
            <h2>Weddings where you're invited</h2>
            <ul>
                {{#each weddingListArray}}
                <li>
                    <a href="/wedding/{{this._id}}"><img src="{{this.pictureUrl}}" height="340px"></a>
                    <a href="/wedding/{{this._id}}"><h3>{{this.name}}</h3></a>
                </li>
                {{else}}
                <p>You're not invited to a wedding yet </p>
            {{/each}}
            </ul>
        </div>
    </div>

</section>
