
<section id="profil-section">

  <div class="profil-wrapper fade-in-bottom">

    <div class="image">
      <img src="{{userItem.avatar}}" height="500px"> 
    </div>

    <div class="text">
      <h2>{{userItem.firstName}} {{userItem.lastName}}</h2>
      <p><b>Age - {{userItem.age}}</b></p>
      <p>{{userItem.description}}</p>

      {{#if currentUser}}
      
      <a class="link-button" href="/add-conversation/{{userItem._id}}"> Take to chatroom </a>


      {{/if}}
    </div>

  </div>

</section>
