
<section id="profil-section">

  <div class="profil-wrapper">

    <div class="image">
      <img src="{{userItem.avatar}}" height="500px"> 
    </div>

    <div class="text">
      <h2>{{userItem.firstName}} {{userItem.lastName}}</h2>
      <p><b>Age - {{userItem.age}}</b></p>
      <p>{{userItem.description}}</p>
      <a class="link-button" href="/settings">Send message</a>
    </div>

  </div>

</section>
