<section id="profil-section">

<div class="image">

<img src="{{userItem.avatar}}">

</div>


<h2>Profil</h2>

<h3>{{userItem.firstName}} {{userItem.lastName}}</h3>

<p>{{userItem.description}}</p>


<p>Age: {{userItem.age}}</p>

<a href="/settings">Edit Profil</a>

</section>
