
<section id="profil-section">

  <div class="profil-wrapper fade-in-bottom">

    <div class="image">
      <img src="{{userItem.avatar}}" height="500px"> 
    </div>

    <div class="text">
      <h2>{{userItem.firstName}} {{userItem.lastName}}</h2>
      <p><b>Age - {{userItem.age}}</b></p>
      <p>{{userItem.description}}</p>
<<<<<<< HEAD
      <a class="link-button" href="/settings">Send message</a>
=======

      {{#if currentUser}}
      <a class="link-button" href="/settings">Edit Profil</a>
      {{/if}}
>>>>>>> 545103069f228e92bf4e4360c8d3726ed18300fd
    </div>

  </div>

</section>
