
<section id="wedding-details">

{{#each weddingArray}}

  <div class="text">
    <h2>{{this.name}}</h2>
    <h5><i class="far fa-clock"></i> {{this.date}}</h5>
    <p>{{{this.description}}}</p>
  </div>

  <div class="image">
    <img src="{{this.pictureUrl}}">
  </div>

 {{else}}
 <p>You don't have any wedding yet.</p>
 {{/each}}

</section>

{{!-- 
<ul>
 {{#each weddingListArray}}
 <li>
   <h3>{{this.name}}</h3>
   <p>{{this.description}}</p>
   <img src="{{this.pictureUrl}}">
 </li> 
 {{else}}
 <p>You're not invited to a wedding yet </p>
 <a href="/wedding/add">Add Your First Wedding</a>
 {{/each}}
</ul> --}}


{{!-- {{weddingListArray.name}} --}}