<section id="wedding-details">

  <div class="text">
    <h2>{{weddingItem.name}}</h2>
    <h5><i class="far fa-clock"></i> {{weddingItem.date}}</h5>
    <p>{{{weddingItem.description}}}</p>
  </div>

  <div class="image">
    <img src="{{weddingItem.pictureUrl}}" height="500px">
  </div>

</section>

<section id="singles-profils">

  <div>
    
    {{#if currentUser.isSingle}}

      <h2>The Singles Guestlist</h2>

      <ul>
      {{#each weddingItem.guestList}}
        <li>
          <a href="/user/{{this._id}}"><img src="{{this.avatar}}" height="340px"></a>
          <a href="/user/{{this._id}}"><h3>{{this.firstName}}</h3></a>
        </li>
      {{else}}
        <p>No guest yet...</p>
      {{/each}}
      </ul>

    {{/if}}

  </div>

</section>
