<h2>Hello {{currentUser.firstName}} </h2>

<ul>
   <h2>Your Wedding: </h2>
    {{#each weddingArray}}
    <li>
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <img src="{{this.pictureUrl}}">
    </li>
    {{else}}
    <p>You don't have any wedding yet.</p>
    <a href="/wedding/add">Add Your First Wedding</a>
{{/each}}
</ul>

<ul>
    <h2>Weddings where you're invited</h2>
    {{#each weddingListArray}}
    <li>
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <img src="{{this.pictureUrl}}">
    </li>
    {{else}}
    <p>You're not invited to a wedding yet </p>
{{/each}}
</ul>